<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments :: page_head"> </head>

<body>
		<!-- ============================================================== -->
		<!-- main wrapper -->
		<!-- ============================================================== -->
		<div class="dashboard-main-wrapper">
		<!-- ============================================================== -->
		<!-- navbar -->
		<!-- ============================================================== -->
		<div th:replace="fragments :: page_header"> </div>
		<!-- ============================================================== -->
		<!-- end navbar -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<div th:replace="fragments :: page_menu"> </div>
		<!-- ============================================================== -->
		<!-- end left sidebar -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- wrapper  -->
		<!-- ============================================================== -->
		<div class="dashboard-wrapper">
			<div class="dashboard-ecommerce">
				<div class="container-fluid dashboard-content">
					<div class="ecommerce-widget">
						<div class="row">
							<div class="col-md-12">
								<section class="panel panel-transparent">
									<header class="panel-heading">
										<h2 class="panel-title">Project Create</h2> </header>
									<div class="panel-body">
										<form id="needs-validation" novalidate action="#" th:action="@{/project}" th:object="${project}" method="post">
											<div class="row">
												<div class="col-sm-6 col-md-6 col-xs-12">
													<div class="form-group">
														<label for="firstname">Project Name</label>
														<input type="text" th:field="*{name}" id="projectName" class="form-control" aria-describedby="inputGroupPrepend" required /> </div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-6 col-md-6 col-xs-12">
													<div class="form-group">
														<label for="code">Project Code</label>
														<input type="text" class="form-control" th:field="*{code}" aria-describedby="inputGroupPrepend" required> </div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-6 col-md-6 col-xs-12">
													<div class="form-group">
														<label for="code">Assigned Manager</label>
														<select  th:field="*{manager}" class="custom-select" >
														<option th:value="''" th:text="Select"></option>
														<option th:each="m : ${managers}" th:value="${m.username}" th:text="${m.firstname +' '+ m.lastname}"></option>
														</select>
														<div class="invalid-feedback">Please choose manager</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-6 col-md-6 col-xs-12">
													<div class="form-group">
														<label for="code">Project Start - End Date</label>
														<div class="row">
															<div class="col-sm-6 col-md-6 col-xs-12">
																<div class="input-group date" id="datetimepickerStart">
																	<input type="date" th:field="*{startDate}" /> </div>
															</div>
															<div class="col-sm-6 col-md-6 col-xs-12">
																<div class="input-group date" id="datetimepickerEnd">
																	<input type="date" th:field="*{endDate}" /> </div>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-12 col-md-12 col-xs-12">
															<div class="form-group">
																<label for="detail">Project Detail</label>
																<textarea class="form-control" rows="3" id="detail" th:field="*{detail}" aria-describedby="inputGroupPrepend" required></textarea>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-12 col-md-12 col-xs-12">
															<div class="float-right">
																<button class="btn btn-success rounded-0" type="submit">Save</button>
															</div>
														</div>
													</div>
												</div>
										</form>
										</div>
								</section>
								</div>
							</div>
						</div>
						<br>
						<br>
						<div class="panel-body">
							<div class="row ">
								<!-- ============================================================== -->
								<!-- responsive table -->
								<!-- ============================================================== -->
								<div class="col-12">
									<div class="card">
										<h5 class="card-header">Poject List</h5>
										<div class="card-body">
											<div class="table-responsive ">
												<table class="table">
													<thead>
														<tr>
															<th scope="col">Project Code</th>
															<th scope="col">Project Name</th>
															<th scope="col">Start / End Date</th>
															<th scope="col">Manager</th>
															<th scope="col">Status</th>
															<th scope="col">#Action</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="project : ${projects}">
															<td th:text="${project.code}"></td>
															<td th:text="${project.name}"></td>
															<td th:text="${#temporals.format(project.startDate, 'MM.dd.yyyy') + ' - '+ #temporals.format(project.endDate, 'MM.dd.yyyy') }"></td>
															<td th:text="${project.manager.firstname +' '+ project.manager.lastname}"></td>
															<td th:text="${project.status.value}"></td>
															<td><a class="btn btn-warning rounded-0" th:href="@{/project/edit/{id}(id=${project.code})}">Update</a> <a class="btn btn-danger rounded-0" th:href="@{/project/delete/{id}(id=${project.code})}">Delete</a> <a class="btn btn-info rounded-0" th:href="@{/project/complete/{id}(id=${project.code})}" >Complete</a> </td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<!-- ============================================================== -->
								<!-- end responsive table -->
								<!-- ============================================================== -->
							</div>
						</div>
						<!-- end: page -->
						</section>
					</div>
					</section>
				</div>
				<!----============================================================== -->
				<!-- end wrapper  -->
				<!-- ============================================================== -->
			</div>
			<!-- ============================================================== -->
			<!-- end main wrapper  -->
			<!-- ============================================================== -->
			<!-- Optional JavaScript -->
			<!-- jquery 3.3.1 -->
			<script th:src="@{/assets/vendor/jquery/jquery-3.3.1.min.js}"></script>
			<!-- bootstap bundle js -->
			<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
			<!-- slimscroll js -->
			<script th:src="@{/assets/vendor/slimscroll/jquery.slimscroll.js}"></script>
			<!-- main js -->
			<script th:src="@{/assets/libs/js/main-js.js}"></script>
			<script th:src="@{/assets/vendor/datepicker/datepicker.js}"></script>
			<script th:src="@{/assets/vendor/datepicker/moment.js}"></script>
			<script th:src="@{/assets/vendor/datepicker/tempusdominus-bootstrap-4.js}"></script>
</body>

</html>